.bordered {
    border: 2px solid red !important;
}

.selectable {
    max-width: 200px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: auto;
    border: 2px solid #9dc4ed;
}

.stairs {
    padding: 5px;
    box-sizing: border-box;
    width: 200px;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.button-div {
    padding-bottom: 20px;
}

.form-embedd {
    width: 300px;
}

/* Делаем затемнение заднего плана */
.back-dialog{
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
}
/* Позиционируем блок с контентом */
.dialog-content{
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 30%;
    overflow: hidden;
    overflow-y: auto;
    width: 600px;
    min-width:200px;
    max-width:600px;
    min-height: 150px;
    max-height: 600px;

}

.closebutt {
    position: absolute;
    bottom: 0;
    right:0;
    margin: 5px;
}

.float-right {
    margin: 5px;
    float: right;
}
